.banner {
    padding-top: 85px;
    padding-bottom: 118px;
    min-height: 512px;
    background: url('/img/bg.jpg') center/cover no-repeat;

    .content {
        margin: 0 auto;
        max-width: 700px;
        text-align: center;
    }

    .title {
        margin-bottom: 55px;
        font-size: 96px;
        font-family: var(--font-heading);
        color: #000;
    }

    .description {
        font: 700 18px/1.78 var(--font-main);
    }
}
