.root {
    width: 100%;
}

.card {
    width: 800px;
    height: 400px;
}

.content {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    height: 100%;
}

.controls {
    margin-top: auto;
}
