.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black);
  padding: 20px 30px;
  min-width: 250px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.45em;
  text-decoration: initial;
  text-transform: uppercase;
  color: #000;
  transition-property: color, background-color, border-color;
  transition-duration: var(--t-duration-1);

  &:hover,
  &:focus-visible {
    outline: 0;
    border-color: var(--black);
    color: var(--white);
    background-color: var(--black);
  }

  &:active {
    transform: translateY(2px);
  }
}

.darkButton {
  border-color: var(--white);
  color: var(--white);

  &:hover,
  &:focus-visible {
    border-color: var(--white);
    color: var(--black);
    background-color: var(--white);
  }
}
