.form {
    text-align: center;
}
.formButton {
    width: 200px;

    & + & {
        margin-top: 15px;
    }

    &.oauth {
        background-color: #fc3f1d;
    }

    &.m-t-40 {
        margin-top: 40px;
    }
}

.formErrorMessage {
    color: red;
    text-align: center;
}
