.form {
  text-align: center;
}

.formButton {
  width: 200px;

  &.oauth {
    background-color: var(--yandex-oauth-color);
  }

  &.m-t-40 {
    margin-top: var(--size-5xl);
  }

  & + & {
    margin-top: var(--size-lg);
  }
}

.formErrorMessage {
  text-align: center;
  color: var(--red-400);
}
