.button {
    --color: var(--purple-500);
    --btn-height: 36px;
    --box-shadow-hover: var(--shadow-2);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: var(--size-xxs);
    padding: 0 var(--size-sm);
    height: var(--btn-height);
    min-width: 64px;
    max-width: inherit;
    box-shadow: var(--shadow-1);
    box-sizing: border-box;
    font: var(--font-sm-500);
    letter-spacing: 1.05px;
    text-decoration: none;
    text-shadow: inherit;
    text-transform: uppercase;
    color: var(--white);
    -webkit-tap-highlight-color: transparent !important;
    background-color: var(--color);
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;

    &:hover,
    &:focus-visible {
        box-shadow: var(--box-shadow-hover);
    }

    &:active {
        box-shadow: var(--box-shadow-inset) !important;
    }
}

span:has(.button:disabled, .button[aria-disabled='true']) {
    cursor: not-allowed;
}

.button:disabled,
.button[aria-disabled='true'] {
    --border-color: var(--neutral-100);
    --text-color: var(--neutral-100);
    --color: var(--neutral-300);

    opacity: 0.6;
    pointer-events: none;
}

.rounded {
    border-radius: 56px !important;
}

.depressed {
    box-shadow: var(--box-shadow-hover);
}

.bordered {
    border: 1px solid currentcolor;
    color: var(--color);
    background-color: transparent;
}

.outlined {
    border: 1px solid var(--color);
    box-shadow: none !important;
    background-color: transparent;
    transition: none !important;
}

.text {
    box-shadow: none !important;
    color: var(--color);
    background-color: transparent;
    transition: none !important;
}

.block {
    display: flex;
    width: 100%;
}

.small {
    --btn-height: 30px;
}

.medium {
    --btn-height: 36px;
}

.large {
    --btn-height: 42px;
}

.dark {
    --bg-color: var(--dark-bg);
    --text-color: var(--g-text-color-dark);
    --light-border-color: var(--dark-bg-light-shadow);
    --text-color-disabled: var(--g-text-color-disabled-dark);
    --box-shadow: 5px 5px 12px var(--dark-bg-dark-shadow),
        -4px -4px 10px var(--dark-bg-light-shadow);
    --box-shadow-hover: 2px 2px 5px var(--dark-bg-dark-shadow),
        -2px -2px 5px var(--dark-bg-light-shadow);
    --box-shadow-inset: inset -2px -2px 5px var(--dark-bg-light-shadow),
        inset 2px 2px 5px var(--dark-bg-dark-shadow);
    --box-shadow-inset-low: inset -1px -1px 3px var(--dark-bg-light-shadow),
        inset 1px 1px 3px var(--dark-bg-dark-shadow);
    --box-shadow-fab: 10px 10px 20px var(--dark-bg-dark-shadow),
        -7px -7px 16px var(--dark-bg-light-shadow);
}

.dark.outlined {
    border-color: var(--text-color);
}

.t-1 {
    --btn-height: 62px;

    border-width: 2px;
    border-radius: 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    color: #000;
    transition-property: color, background-color, border-color;

    &:hover,
    &:focus-visible {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }

    &:active {
    }
}
