.buttonFullScreen {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: 0.5s;
    background-image: url('../../app/assets/img/fullscreen_icon.svg');
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.buttonExitFullScreen {
    background-image: url('../../app/assets/img/fullscreen_exit_icon.svg');
}
