.password_section {
  margin-top: var(--size-sm);

  input[type="password"] {
    margin-top: var(--size-sm);
    padding: var(--size-sm);
    width: 100%;
  }

  button {
    margin-top: var(--size-sm);
  }
}
