/* Стили для контейнера профиля */
.profile_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  box-shadow: var(--shadow-2), var(--shadow-1);
  background-color: var(--neutral-100);
}

.darkProfileContainer {
  background-color: rgb(22, 27, 34);
}

.main_background {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: var(--size-xs);
  border-top-right-radius: var(--size-xs);
}

/* Стили для заголовка */
.profile_header {
  text-align: center;

  h1 {
    font-size: 24px;
    color: #333;
  }
}

/* Стили для информации о пользователе */
.profile_info {
  z-index: 1;
  margin-top: 20px;

  h2 {
    font-size: 20px;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #666;
  }
}

/* Стили для смены аватара */
.form_avatar {
  z-index: 111;
  display: flex;
  align-self: center;
  width: 130px;
  height: 130px;
}

.avatar_position {
  position: relative;
}

.avatar {
  border-radius: 35%;
  width: 100%;
  height: 100%;
  background: none;
  background-size: cover;
}

.avatar_overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  width: 130px;
  height: 130px;
  font-size: 13px;
  line-height: 14px;
  color: #efefef;
  opacity: 0;
  transition: 0.5s;
}

.avatar_overlay:hover {
  background-color: rgb(77 90 142);
  opacity: 0.8;
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal_container {
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 300px;
  height: 300px;
}

.modal_preview {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal_buttons {
  display: flex;
  margin-top: 10px;
  border: 3px solid var(--white);
  padding: 10px;
  background: var(--neutral-700);
}

.modal_cancel_button {
  margin-right: 10px;
  border-color: var(--white);
  color: var(--neutral-400);
  transition: 0.4s;
  cursor: pointer;
}

.modal_cancel_button:hover {
  opacity: 0.7;
}

.modal_confirm_button {
  background: var(--blue-300);
  transition: 0.4s;
  cursor: pointer;
}

.modal_confirm_button:hover {
  opacity: 0.7;
}
