.nav {
    display: flex;
    align-items: center;
    padding: var(--size-lg);
    width: 100%;
    min-height: 60px;
    box-shadow: var(--shadow-2), var(--shadow-1);
    background-color: var(--neutral-100);
}

.list {
    display: flex;
    margin-left: auto;
    gap: var(--size-md);
}

.logout {
    //@include btn-reset;
    //@include flex-center;

    position: relative;
    gap: var(--size-xs);
    font-size: var(--size-md);
    color: var(--purple-600);

    &::before {
        content: '';
        width: 1px;
        height: 20px;
        background-color: var(--purple-500);
    }
}

.hr {
    margin: 0;
    border: 0;
    border-radius: var(--size-xs);
    height: var(--size-xxs);
    box-shadow: var(--shadow-1);
    background: var(--neutral-100);
}
