.nav {
  display: flex;
  padding: var(--size-lg) var(--size-5xl);
  width: 100%;
  min-height: 60px;
  box-shadow: var(--shadow-2), var(--shadow-1);
  background-color: var(--neutral-100);

  a {
    text-decoration: none;
  }
}

.darkNav {
  background-color: var(--black);
}

.list {
  display: flex;
  align-items: center;
  margin-left: auto !important;
  gap: var(--size-2xl);
}

.colorModeToggle {
  display: flex;
  align-items: center;
}

.logout {
  composes: button-reset from "@/app/assets/styles/general/_scaffoldings.scss";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-xs);
  font-size: var(--size-md);
  color: var(--purple-600);

  &::before {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--purple-500);
  }
}

.darkLogout {
  color: var(--white);

  &::before {
    background-color: var(--white);
  }
}
